
@{
    ViewBag.Title = "Index";
}

<h2>Pumas Unah - Sitio de administracion</h2>
<div>
    <img src="~/Imagenes/portada.jpg" alt="pumas unah" style="width: 100%; max-width: 600px;" />
</div>

